RAPID_KEY='https://netflix54.p.rapidapi.com/search/?query=stranger&offset=0&limit_titles=50&limit_suggestions=20&lang=en'
MONGODB_URL='mongodb+srv://adminfunflix:5nmTjF0NTBtktvZ3@cluster0.bb6uvhh.mongodb.net/funflix?retryWrites=true&w=majority'